{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">


            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI</h2>
                        <p>OTM REYTINGI</p>
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->
        
        <!-- RESTAURANTS -->
        <section class="section-restaurant-1 bg-white">
            <div class="container">

                <div class="restaurant-lager">

                    <div class="restaurant_content">

                        <!-- HEADING -->
                        <div class="restaurant_title text-center">
                            <h2 class="heading">TOP 6</h2>
                            <span class="time">Professor - o'qituvchilarning reytingi</span>
                        </div>
                        <!-- END / HEADING -->

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                        <p class="price">
                                            <span class="amout">31.5</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                
                                        <p class="price">
                                            <span class="amout">28</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                
                                        <p class="price">
                                            <span class="amout">27</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                
                                        <p class="price">
                                            <span class="amout">26</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                
                                        <p class="price">
                                            <span class="amout">25</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="restaurant_item lager-thumbs">
                                
                                    <div class="img">
                                        <a href="#"><img src="http://uzmmsi.uz/images/restaurants/img-1.jpg" alt=""></a>
                                         
                                    </div>
                                
                                    <div class="text">
                                        <h2><a href="#">F.I.O</a></h2>
                                
                                        
                                
                                        <p class="price">
                                            <span class="amout">24</span>
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>
                        
                        <!-- HR -->
                        <div class="hr"></div>
                        <!-- END  / HR -->

                    </div>
				</div>

            </div>
        </section>
        <!-- END / RESTAURANTS -->
		        <!-- RESTAURANTS -->
        <section class="section-restaurant-2 bg-white">
            <div class="container">

                <div class="restaurant-small">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="restaurant_content">

                                <!-- HEADING -->
                                <div class="restaurant_title">
                                    <h2 class="heading">TOP 5</h2>
                                    <span class="time">KAFEDRALAR REYTINGI</span>
                                </div>
                                <!-- END / HEADING -->
                                
                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">roast &amp; vegetables</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">meat soup</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">SPAGESTI</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">Wildberry</a></h2>
                                
                                    </div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                  
                                
                                    <div class="text">
                                        <h2><a href="#">Wildberry</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="restaurant_content">

                                <!-- HEADING -->
                                <div class="restaurant_title">
                                    <h2 class="heading">TOP 5</h2>
                                    <span class="time">FAKULTETLAR REYTINGI</span>
                                </div>
                                <!-- END / HEADING -->
                                
                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                    <div class="text">
                                        <h2><a href="#">MEAT</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">Pork Skewers Rotation</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                
                                    <div class="text">
                                        <h2><a href="#">EGGS</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                    
                                
                                    <div class="text">
                                        <h2><a href="#">Grilled Chicken</a></h2>
									</div>
                                
                                </div>
                                <!-- END / ITEM -->

                                <!-- ITEM -->
                                <div class="restaurant_item small-thumbs">
                                
                                   
                                
                                    <div class="text">
                                        <h2><a href="#">FISH</a></h2>
                                
                                        
                                
                                        
                                    </div>
                                
                                </div>
                                <!-- END / ITEM -->

                            </div>

                        </div>

                        

                    </div>

                </div>

            </div>
        </section>
        <!-- END / RESTAURANTS -->
{% endblock content %}