{% extends 'base.html' %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>MALAKA TALABLARI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible"></h1>
                                <!-- POST ITEM -->
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">Bakalavriyat</h2>
                                    </div>
                                    
                                    <div class="entry-content">
                                        
										<a href="http://uzmmsi.uz/images/60112400_professional_talim_60211500_cholg‘u_ijrochiligi.pdf" target="_blank"><p align="justify">60112400 Professional ta’lim 60211500 Cholg‘u ijrochiligi</p></a> <br>
										<a href="http://uzmmsi.uz/images/60211500-Cholg‘u-ijrochiligi.pdf" target="_blank"><p align="justify">60211500 Cholg‘u ijrochiligi</p></a> <br>
										<a href="http://uzmmsi.uz/images/60211400-vokal-sanati-A.X-Malaka-talabi.pdf" target="_blank"><p align="justify">60211400 Vokal san’ati A.X Malaka talabi</p></a> <br>
										<a href="http://uzmmsi.uz/images/60211000-Sanatshunoslik0001.pdf" target="_blank"><p align="justify">60211000 San’atshunoslik0001</p></a> <br>
										<a href="http://uzmmsi.uz/images/60210900-Baxshichilik-Dostonchil.pdf" target="_blank"><p align="justify">60210900 Baxshichilik Dostonchilik</p></a> <br>
										<a href="http://uzmmsi.uz/images/60210900-Bastakorlik-sanati.pdf" target="_blank"><p align="justify">60210900 Bastakorlik san’ati</p></a> <br>
										<a href="http://uzmmsi.uz/images/60112400-professional-talim-60211400-Vokal-sanati.pdf" target="_blank"><p align="justify">60112400 Professional ta’lim 60211400 Vokal san’ati</p></a> <br>
										
									</div>
									
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">Magistratura</h2>
                                    </div>
									
									<div class="entry-content">
                                        
										<a href="http://uzmmsi.uz/images/60211000-Sanatshunoslik0001-1.pdf" target="_blank"><p align="justify">60211000 San’atshunoslik 0001</p></a> <br>
										<a href="http://uzmmsi.uz/images/70211401-Vokal-sanati-A.Xmagist.pdf" target="_blank"><p align="justify">70211401 Vokal san’ati A.Xmagist</p></a> <br>
										<a href="http://uzmmsi.uz/images/70211502-Cholg‘u-ijrochiligi-mag.pdf" target="_blank"><p align="justify">70211502-Cholg‘u ijrochiligi magistratura</p></a> <br>
									</div>
									
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
{% endblock content %}