{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">ILMIY TADQIQOTLAR, INNOVATSIYALAR VA ILMIY-PEDAGOGIK KADRLAR TAYYORLASH BO‘LIMI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/itilptk1.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>lmiy tadqiqotlar, innovatsiyalar va ilmiy-pedagogik kadrlar tayyorlash bo‘limi Yunus Rajabiy nomidagi O‘zbek musiqa san’ati institutining tuzilmaviy tarkibiga kiradi. Ilmiy tadqiqotlar, innovatsiyalar va ilmiy-pedagogik kadrlar tayyorlash bo‘limi ilmiy-tadqiqot ishlarini rejalashtirish, tashkil qilish bilan shug‘ullanadi.</b></p> <br>
                                        <p align="justify"> Bo‘z faoliyati doirasida ilmiy-tadqiqot ishlari bilan bog‘liq faoliyatini fakultetlar, kafedralar, kadrlar va boshqa tegishli bo‘limlar bilan kelishgan holda amalga oshiradi.</p> <br>
										<p align="justify">Institutda 52 nafar professor-o‘qituvchilar asosiy shtatda faoliyat ko‘rsatadi. Shundan: fan nomzodlari va falsafa doktori (PhD)lar – 7 nafar, ilmiy darajaga ega bo‘lmagan professorlar – 7 nafar, ilmiy darajaga ega bo‘lmagan dotsentlar – 11 nafar, faxriy unvon egalari – 5 nafar; akademik ilmiy unvoniga ega 1 nafarni tashkil etadi.</p> <br>
                                        <p align="justify">Professor-o‘qituvchilar, doktorant va talabalar uchun Scopus Science Direct xalqaro ilmiy-texnik ma’lumotlar bazasidan foydalanish hamda ilmiy maqolalarni yuqori impakt-faktorga ega bo‘lgan jurnallarda chop etishga tayyorlash bo‘yicha “Maslahat markazi” tashkil etilgan.</p> <br>
                                        <p align="justify">Institutning pedagog-xodimlari maqolalari 2020/2021 o‘quv yili davomida mahalliy ilmiy nashrlarda, Scopus, Web of Science va boshqa umume’tirof etilgan indeksatsiyalangan ma’lumotlar bazalari jurnallarida chop etib kelinmoqda.</p> <br>
                                        
								</article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
	
        {% endblock content %}