{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI RAHBARIYATI</h2>
                        
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->
        
        <!-- ABOUT -->
        <section class="section-about">
            <div class="container">

                <div class="about">

                    <!-- ITEM -->
                    <div class="about-item about-right">

                        <div class="img">
                            <img src={% static "images/team/img-1.png" %} alt="" style="height: 620px;">
                        </div>

                        <div class="text">
                            <h2 class="heading">NAZARBEKOV OZODBEK AHMADOVICH</h2>
                            <div class="desc">
                                <p><b>Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti 
rektori, O‘zbekiston Respublikasi Madaniyat vaziri, O‘zbekiston 
va Qoraqalpog‘iston xalq artisti</b><br><br>2007-yilda O‘zbekiston davlat san’at institutini tamomlagan. 
2002-2008-yillar “O‘zbeknavo” estrada birlashmasida yakkaxon xonanda sifatida faoliyat yuritgan.б<br><br>2008-2017-yillarda O‘zbekiston Respublikasi Qurolli Kuchlari markaziy ashula va raqs ansambli xonandasi, 2017-yil “Yoshlar” 
telekanali direktori, 2017-yilning 10-avgustidan O‘zbekiston Respublikasi Madaniyat ishlari vazirining o‘rinbosari, 2018-2020-yillarda 
O‘zbekiston Respublikasi Madaniyat vazirining birinchi o‘rinbosari 
sifatida faoliyat olib borgan.<br><br>2020-yil 22-yanvardan O‘zbekiston Respublikasi Madaniyat 
vaziri, 2020-yil iyun oyidan Yunus Rajabiy nomidagi O‘zbek milliy 
musiqa san’ati instituti rektori lavozimida mehnat qilib kelmoqda.<br><br>“O‘zbekistonda xizmat ko‘rsatgan artist” (2007-yil), “O‘zbekiston xalq artisti” (2010-yil), “Qoraqalpog‘iston xalq artisti” (2012 yil), 
“Turkmanistonda xizmat ko‘rsatgan artist” (2020-yil) unvonlari, 
“El-yurt hurmati” ordeni (2014 yil) bilan taqdirlangan</p>
                            </div>
                        </div>

                    </div>
                    <!-- END / ITEM -->

                </div>

            </div>
        </section>
        <!-- END / ABOUT -->
        
        <section class="section-accommo_1 bg-white">
            <div class="container">

                <div class="accomd-modations_1">

                    

                    <div class="accomd-modations-content_1" >

                        <div class="accomd-modations-slide_1" >

                            <!-- ITEM -->
                            <div class="">
                            
                                <div class="img">
                                    <a href="{% url 'management' %}#"><img src={% static "images/team/img-2.png" %} alt=""></a>
                                </div>
                            
                                <div class="text">
                                    <h2><b>Zokirov Azizjon Rayimjonovich</b></h2>
                                    <p class="desc"><b>O‘quv va tarbiyaviy ishlar bo‘yicha prorektor</b></p>
                                    
                                </div>
                            
                            </div>
                            <!-- END / ITEM -->
                            
                            <!-- ITEM -->
                            <div class="">
                                <div class="img">
                                    <a href="{% url 'management' %}#"><img src={% static "images/team/Iroda.png" %} alt=""></a>
                                </div>
                                <div class="text">
                                    <h2><a href="{% url 'management' %}#"><b>Dadajonova Iroda Abdulazizovna</b></a></h2>
                                    <p class="desc">Ilmiy ishlar va innovatsiyalar bo‘yicha prorektor, san’atshunoslik fanlari bo’yicha falsafa doktori (PhD)</p>
                                    
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            
                            <!-- ITEM -->
                            <div class="">
                                <div class="img">
                                    <a href="{% url 'management' %}#"><img src={% static "images/team/avaz.png" %} alt=""></a>
                                </div>
                                <div class="text">
                                    <h2><a href="{% url 'management' %}#"><b>Shomurodov Avazbek Abdulhamidovich</b></a></h2>
                                    <p class="desc">Yoshlar masalasi, ma’naviy-ma’rifiy ishlar bo‘yicha prorektor</p>
                                    
                                </div>
                            </div>
                            <!-- END / ITEM -->

                            
                            
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- ACCOMMODATIONS -->
        <!-- TEAM -->
        <section class="section-team">
            <div class="container">

                <div class="team">
                    <h2 class="heading text-center">YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI RAHBAR XODIMLARI</h2>
                   <div class="team_content">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Tolipov Mahmudjon Sharifjonovich</h2>
                                        <span>Ishlar boshqarmasi boshlig‘i</span>
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/1.png" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Yuldasheva Nasiba Kamolovna</h2>
                                        <span>Taʼlim sifatini nazorat qilish bo‘limi boshlig‘i</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/2.png" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Tolibjonova Latofat Maʼrufjon qizi</h2>
                                        <span>tidorli talabalarning ilmiy tadqiqot faoliyatini tashkil etish bo‘limi boshlig‘i</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/3.png" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Qoraboyeva Nargiza </h2>
                                        <span>Xalqaro bo‘lim boshlig‘i</span>
                                    </div>

                                </div>
                            </div>
							
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END / TEAM -->
		<!-- TEAM -->
        <section class="section-team">
            <div class="container">

                <div class="team">
                   <div class="team_content">
                        <div class="row">

                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/4.png" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Umarov Faxriddin Qayumovich</h2>
                                        <span>Magistratura bo‘limi boshlig‘i</span>
                                    </div>

                                </div>
                            </div>
							<div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Rabimqulov Shoxrux Azizqulovich</h2>
                                        <span>Maxsus sirtqi bo‘lim boshlig‘i</span>
                                    </div>

                                </div>
                            </div>
							
							<div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Botirova Nilufar Ahad qizi</h2>
                                        <span>Institut ilmiy kengashi kotibi</span>
                                    </div>

                                </div>
                            </div>
							<div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Abduhoshimov Shoxbozbek Xurshidbek o‘g‘li </h2>
                                        <span>Institut matbuot kotibi</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END / TEAM -->
		<!-- TEAM -->
        <section class="section-team">
            <div class="container">

                <div class="team">
                    <h2 class="heading text-center">“O‘ZBEK MILLIY MUSIQA SAN’ATI” FAKULTETI RAHBARIYATI</h2>
                   <div class="team_content">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Himmatov Davlat Axatkulovich</h2>
                                        <span>Fakultet dekani</span>
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Jo‘raev Ali Asrorovich</h2>
                                        <span>O‘quv ishlar bo‘yicha dekan o‘rinbosari</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Mahmudov Vosidjon Valijonovich</h2>
                                        <span>Yoshlar bilan ishlash bo‘yicha dekan o‘rinbosari </span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                           

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END / TEAM -->
		<!-- TEAM -->
        <section class="section-team">
            <div class="container">

                <div class="team">
                    <h2 class="heading text-center">KAFEDRA MUDIRLARI</h2>
                   <div class="team_content">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Xaydarov Xumoyun Samig’jonovich</h2>
                                        <span>“O‘zbek maqomi tarixi va nazariyasi” kafedrasi mudiri</span>
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Matyoqubov Shavkat Botirovich</h2>
                                        <span>“Maqom xonandaligi” kafedrasi mudiri </span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Arabov Ilyos Ismatovich</h2>
                                        <span>“Maqom cholg‘u ijrochiligi” kafedrasi mudiri</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->
							<!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Axmedova Oygul Maxamataliyevna</h2>
                                        <span>“Doston ijrochiligi” kafedrasi mudiri</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->
						</div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END / TEAM -->
		<!-- TEAM -->
        <section class="section-team">
            <div class="container">

                <div class="team">
                    
                   <div class="team_content">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Oripova Ra’noxon Ibrohimovna</h2>
                                        <span>“Vokal va cholg‘u ijrochiligi pedagoglari tayyorlash” kafedrasi mudir</span>
                                        
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Hamidov Xusrav Sadulloyevich</h2>
                                        <span>“O‘zbek adabiyoti, tillar va gumanitar fanlar” kafedrasi mudiri</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->

                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">

                                    <div class="img">
                                        <a href="{% url 'management' %}"><img src={% static "images/team/img-1.jpg" %} alt=""></a>
                                    </div> 

                                    <div class="text">
                                        <h2>Arabov Ilyos Ismatovich</h2>
                                        <span>“Maqom cholg‘u ijrochiligi” kafedrasi mudiri</span>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->
						</div>
                    </div>
                </div>

            </div>
        </section>
        <!-- END / TEAM -->
        <!-- FOOTER -->
        {% endblock content %}