{% extends 'base.html' %}
{% load static %}

 {% block content %}
 <!-- END / HEADER -->
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI BO1LIMLARI</h2>
                        
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->
        
        
		<!-- DEALS PACKAGE -->
    <section class="section-deals mt90">
        <div class="container">
            <div class="content">
                
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/itilptk.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'itilptk' %}>ILMIY TADQIQOTLAR, INNOVATSIYALAR VA ILMIY-PEDAGOGIK KADRLAR TAYYORLASH BO‘LIMI</a>
								<p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'itilptk' %}>Batafsil</a>
                            </div>
                        </div>
                    </div><div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/ititfte1.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'ititfte' %}>IQTIDORLI TALABALARNING ILMIY-TADQIQOT FAOLIYATINI TASHKIL ETISH BO’LIMI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'ititfte' %}>Batafsil</a>
                            </div>
                        </div>
                    </div><div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/xab1.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'xab' %}>XALQARO ALOQALAR BO’LIMI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'xab' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/mb1.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'mb' %}>MAGISTRATURA BO‘LIMI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'mb' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/tsnqb1.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'tsnqb' %}>TA’LIM SIFATINI NAZORAT QILISH BO‘LIMI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'tsnqb' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src = {% static "images/home-3/deals/oub1.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'oub' %}>O‘QUV-USLUBIY BO‘LIM </a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'oub' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
					
                </div>
            </div>
        </div>
    </section>
    <!-- END / DEALS PACKAGE -->
	
    {% endblock content %}