{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">MAGISTRATURA BO‘LIMI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/mb.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutining “Magistratura bo‘limi” 2020-yil sentabr oyidan o‘z faoliyatini boshlagan. 2020/2021 o‘quv yilidan “Maqom xonandaligi” 5A 150601 mutaxassisligida 11 nafar, “Maqom cholg‘u ijrochiligi” 5A 150701 mutaxassisligida 13 nafar, “Musiqa san’ati” 5A 150202 mutaxassisligida 4 nafar (jami 28 nafar) magistr-talabalar tahsil olmoqda. </b></p> <br>
                                        <p align="justify">Magistratura bosqichida yakka mutaxassislik mashg‘ulotlari bilan bir qatorda zamonaviy kompozitorlik va maqomshunoslikka oid fanlarga ham e’tibor qaratilgan. Mazkur darslar ilmiy salohiyati yuksak darajada bo‘lgan sohamizning faxrli professor ustozlari – san’atshunoslik fanlari nomzodi, professorlar Yunusov R.Yu., Qosimxo‘jaeva S.B., Matyakubova S.K., Abdullaev R.S., Begmatov S.M., Dadadjanova I.A., maqom ijrochiligidan Matrasul Matyoqubov, Salohiddin Azizboev, Shomahmud Shorahmedov, Abdurahmon Xoltojiev va boshqa Respublika musiqa san’atining yetuk darg‘alari tomonidan olib boriladi. Ushbu ustozlar rivojlangan pedagogik texnologiyalardan foydalangan holda multimedia bilan jihozlangan o‘quv xonalarida faoliyat olib bormoqdalar.</p> <br>
                                 </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
        {% endblock content %}