{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">TA’LIM SIFATINI NAZORAT QILISH BO‘LIMI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/tsnqb.png"  %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutining Ta’lim sifatini nazorat qilish bo‘limi O‘zbekiston Respublikasi Vazirlar Mahkamasining 2017-yil 18-iyuldagi “O‘zbekiston Respublikasi Vazirlar Mahkamasi huzuridagi Ta’lim sifatini nazorat qilish davlat inspeksiyasi faoliyatini tashkil etish to‘g‘risida”gi 515-son qarorining 14-bandiga muvofiq tashkil etilgan bo‘lib, bevosita Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutining tarkibiga kiradi. </b></p> <br>
                                        <p align="justify">o‘lim o‘z faoliyatini O‘zbekiston Respublikasi Konstitutsiyasi, O‘zbekiston Respublikasining “Ta’lim to‘g‘risida”gi qonuni, O‘zbekiston Respublikasi Oliy Majlisining palatalari qarorlari, O‘zbekiston Respublikasi Prezidentining farmonlari, qarorlari va farmoyishlari, O‘zbekiston Respublikasi Vazirlar Mahkamasi qarorlari va farmoyishlari, Davlat inspeksiyasi hamda Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutining rektorining buyruqlari va qonuniy ko‘rsatmalariga, shuningdek bo‘lim to‘g‘risidagi Nizomga muvofiq olib boradi.</p> <br>
                                 </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
        {% endblock content %}