{% extends 'base.html' %}

{% block content %}


 
    <!-- PAGE WRAP -->
    <div id="page-wrap">


        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>BAKALAVRIYAT</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible">Event fullwidth</h1>
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-content">
                                        <a href="http://uzmmsi.uz/images/1-kurs-Professional-talim-60211400-Vokal-sanati-ananaviy-xonandalik.xlsx" download><p align="justify">1-kurs Professional ta’lim (60211400-Vokal san’ati an’anaviy xonandalik)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-kurs-Professional-talim-60211500-Cholg‘u-ijrochiligi-ananaviy-cholg‘ular.xlsx" download><p align="justify">1-kurs Professional ta’lim (60211500-Cholg‘u ijrochiligi an’anaviy cholg‘ular)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-kurs-Sanʼatshunoslik-musiqashunoslik.xlsx" download><p align="justify">1-kurs Sanʼatshunoslik (musiqashunoslik)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-Kurs-Vokal-san’at-ananaviy-xonandalik.xlsx" download><p align="justify">1-kurs Vokal san’at (ananaviy xonandalik)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-kurs-Xalq-ijodiyoti-baxshichilik-va-dostonchilik.xlsx" download><p align="justify">1-kurs Xalq ijodiyoti (baxshichilik va dostonchilik)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-kurs-Cholg‘u-ijrochiligi-ananaviy-cholg‘ular.xlsx" download><p align="justify">1-kurs Cholg‘u ijrochiligi (an’anaviy cholg‘ular)</p></a>
                                        <a href="http://uzmmsi.uz/images/1-kurs-Bastakorlik-san’ati.xlsx" download><p align="justify">1-kurs Bastakorlik san’ati</p></a> <br>
                                        <a href="http://uzmmsi.uz/images/2-kurs-Kasb-talimi-Vokal-sanati.xlsx" download><p align="justify">2-kurs Kasb ta’limi (Vokal san’ati)</p></a>
                                        <a href="http://uzmmsi.uz/images/2-kurs-Cholg‘u-ijrochiligi-ananaviy-cholg‘ular.xlsx" download><p align="justify">2-kurs Cholg‘u ijrochiligi (an’anaviy cholg‘ular)</p></a>
                                        <a href="http://uzmmsi.uz/images/2-kurs-Kasb-talimi-cholgu-ijrochiligi.xlsx" download><p align="justify">2-kurs Kasb ta’limi (cholg’u ijrochiligi)</p></a>
                                        <a href="http://uzmmsi.uz/images/2-kurs-Sanʼatshunoslik-musiqashunoslik.xlsx" download><p align="justify">2-kurs Sanʼatshunoslik (musiqashunoslik)</p></a>
                                        <a href="http://uzmmsi.uz/images/2-Kurs-Vokal-san’at-ananaviy-xonandalik.xlsx" download><p align="justify">2-kurs Vokal san’at (ananaviy xonandalik)</p></a>
                                        <a href="http://uzmmsi.uz/images/2-kurs-Xalq-ijodiyoti-baxshichilik-va-dostonchilik.xlsx" download><p align="justify">2-kurs Xalq ijodiyoti (baxshichilik va dostonchilik)</p></a> <br>
                                        <a href="http://uzmmsi.uz/images/3-kurs-Cholg‘u-ijrochiligi-ananaviy-cholg‘ular" download><p align="justify">3-kurs Cholg‘u ijrochiligi (an’anaviy cholg‘ular)</p></a>
                                        <a href="http://uzmmsi.uz/images/3-kurs-Kasb-talimi-cholgu-ijrochiligi.xlsx" download><p align="justify">3-kurs Kasb ta’limi (cholg’u ijrochiligi)</p></a>
                                        <a href="http://uzmmsi.uz/images/3-kurs-Kasb-talimi-Vokal-sanati.xlsx" download><p align="justify">3-kurs Kasb ta’limi (Vokal san’ati)</p></a>
                                        <a href="http://uzmmsi.uz/images/3-kurs-Sanʼatshunoslik-musiqashunoslik.xlsx" download><p align="justify">3-kurs Sanʼatshunoslik (musiqashunoslik)</p></a>
                                        <a href="http://uzmmsi.uz/images/3-Kurs-Vokal-san’at-ananaviy-xonandalik.xlsx" download><p align="justify">3-kurs Vokal san’at (ananaviy xonandalik)</p></a> <br>
                                        <a href="http://uzmmsi.uz/images/4-kurs-Cholg‘u-ijrochiligi-ananaviy-cholg‘ular.xlsx" download><p align="justify">4-kurs Cholg‘u ijrochiligi (an’anaviy cholg‘ular)</p></a>
                                        <a href="http://uzmmsi.uz/images/4-kurs-Kasb-talimi-cholgu-ijrochiligi.xlsx" download><p align="justify">4-kurs Kasb ta’limi (cholg’u ijrochiligi)</p></a> <br>
                                        <a href="http://uzmmsi.uz/images/4-kurs-Kasb-talimi-Vokal-sanati.xlsx" download><p align="justify">4-kurs Kasb ta’limi (Vokal san’ati)</p></a>
                                        <a href="http://uzmmsi.uz/images/4-kurs-Sanʼatshunoslik-musiqashunoslik.xlsx" download><p align="justify">4-kurs Sanʼatshunoslik (musiqashunoslik)</p></a>
                                        <a href="http://uzmmsi.uz/images/4-Kurs-Vokal-san’at-ananaviy-xonandalik.xlsx" download><p align="justify">4-kurs Vokal san’at (ananaviy xonandalik)</p></a>
                                    </div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->

    </div>
    <!-- END / PAGE WRAP -->
    {% endblock content %}