{% extends 'base.html' %}
{% load static %}
 {% block content %}
 <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>DARS JADVALI «BAKALAVR»</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible"></h1>
                                <!-- POST ITEM -->
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">2021-2022 yil</h2>
                                    </div>
                                    
                                    <div class="entry-content">
                                        
										<a href={% static "images/1647241046_photo_2022-03-14_11-54-22.jpg"  %}  target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «San’atshunoslik-musiqashunoslik»</p></a> <br>
										<a href={% static "images/1647241007_photo_2022-03-14_11-54-24.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik Rus guruhlar «San’atshunoslik-musiqashunoslik»</p></a> <br>
										<a href={% static "images/1647240960_photo_2022-03-14_11-54-30.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «An’anaviy cholg’ular»</p></a> <br>
										<a href={% static "images/1647240968_photo_2022-03-14_11-54-28.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «An’anaviy xonandalik»</p></a> <br>
										<a href={% static "images/1647240952_photo_2022-03-14_11-54-34.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «Professional ta’lim cholg’u ijrochiligi»</p></a> <br>
										<a href={% static "images/1647240997_photo_2022-03-14_11-54-33.jpg" %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «Professional ta’lim (vakal san’ati)»</p></a> <br>
										<a href={% static "images/1647241039_photo_2022-03-14_11-54-36.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «Baxshichilik va dostonchilik»</p></a> <br>
										<a href={% static "images/1647241018_photo_2022-03-14_11-54-26.jpg"  %} target="_blank"><p align="justify">2021-2022 o’quv yili II yarim yillik O’zbek guruhlar «Bastakorlik san’ati»</p></a> <br>
									</div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->

        {% endblock content %}