{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>DARS JADVALI MAGISTRATURA</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible"></h1>
                                <!-- POST ITEM -->
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">2021-2022 yil</h2>
                                    </div>
                                    
                                    <div class="entry-content">
                                        
										<a href={% static "images/7.jpg" %} target="_blank"><p align="justify">2020-2021 o’quv yili II yarim yillik O’zbek guruhlar «Musiqa san’ati»</p></a> <br>
										<a href={% static "images/8.jpg" %} target="_blank"><p align="justify">2020-2021 o’quv yili II yarim yillik O’zbek guruhlar «An’anaviy xonandalik»</p></a> <br>
										<a href={% static "images/9.jpg" %} target="_blank"><p align="justify">2020-2021 o’quv yili II yarim yillik O’zbek guruhlar «An’anaviy cholg’ular»</p></a> <br>
									</div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
{% endblock content %}