{% extends 'base.html' %}
{% block content %}

        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>Imtihonlar jadvali</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible"></h1>
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-content">
                                        <p align="justify">1-kurs talabalari yakuniy nazoratlarni 24-yanvar, dushanba kunidan boshlab 12-fevral, shanba kuniga qadar (3 hafta davomida) topshiradilar. 14-fevral, dushanba kunidan e’tiboran 2-semestr dars mashg‘ulotlari boshlanadi.<a href="http://uzmmsi.uz/images/Bakalavr-1-kurs-Imtihonlar-jadvali.pdf" target="_blank">Bakalavr 1-kurs Imtihonlar jadvali</a></p> <br>
                                        <p align="justify">2-kurs talabalari uchun yakuniy nazorat haftaligi 24-yanvar, dushanba kunidan 29-yanvar, shanba kuniga qadar (1 hafta) etib belgilandi. 31-yanvar, dushanba kunidan e’tiboran 4-semestr dars mashg‘ulotlari boshlanadi.<a href="http://uzmmsi.uz/images/Bakalavr-2-kurs-Imtihonlar-jadvali.pdf" target="_blank"> Bakalavr 2-kurs Imtihonlar jadvali</a></p> <br>
                                        <p align="justify">3-4-kurs talabalari uchun 24-yanvar, dushanba kunidan 1-yarim yillik dars jadvali asosida dars mashg‘ulotlari boshlanadi. 31-yanvar, dushanba kunidan 12-fevral, shanba kuniga qadar (2 hafta) yakuniy nazorat haftaligi etib belgilandi. 14-fevral, dushanba kunidan e’tiboran 2-yarim yillik dars mashg‘ulotlari boshlanadi.</p> <br>
                                        <a href="http://uzmmsi.uz/images/Bakalavr-3-kurs-Imtihonlar-jadvali.pdf" target="_blank"><p align="justify">Bakalavr 3-kurs Imtihonlar jadvali</p></a> <br>
                                        <a href="http://uzmmsi.uz/images/Bakalavr-4-kurs-Imtihonlar-jadvali.pdf" target="_blank"><p align="justify">Bakalavr 4-kurs Imtihonlar jadvali</p></a> <br>
                                        
                                    </div>
								</article>
                                <!-- END / POST ITEM -->

                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">MAGISTRATURA BOSQICHI</h2>
                                    </div>
                                    
                                    <div class="entry-content">
                                        <p align="justify">1-2-bosqich talabalari yakuniy nazoratlarni 24-yanvar, dushanba kunidan boshlab 5-fevral, shanba kuniga qadar (2 hafta davomida) topshiradilar.</p> <br>
										<a href="http://uzmmsi.uz/images/Magistr-1-kurs-Imtihonlar-jadvali.pdf" target="_blank"><p align="justify">Magistr 1-kurs Imtihonlar jadvali</p></a> <br>
										<a href="http://uzmmsi.uz/images/Magistr-2-kurs-Imtihonlar-jadvali.pdf" target="_blank"><p align="justify">Magistr 2-kurs Imtihonlar jadvali</p></a> <br>
										
										
                                    </div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
{% endblock content %}