{% extends 'base.html' %}
{% block content %}       
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>Sirtqi ta’lim</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible"></h1>
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-header">
                                        <h2 class="entry-title" align="center">KONTINGENT 2021-2022 o`.y.</h2>
                                    </div>
                                    
                                    <div class="entry-content">
                                        
										<a href="http://uzmmsi.uz/images/Сиртқи-1-курс-КТ-ВОКАЛ.pdf" target="_blank"><p align="justify">Siqrtqi 1 kurs KT VOKAL</p></a> <br>
										<a href="http://uzmmsi.uz/images/Сиртқи-1-куурс-КТ-ЧОЛҒУ.pdf" target="_blank"><p align="justify">Siqrtqi 1 kurs KT CHOLG'U</p></a> <br>
										<a href="http://uzmmsi.uz/images/Сиртқи-2-курс-КТ-ЧОЛҒУ.pdf" target="_blank"><p align="justify">Siqrtqi 2 kurs KT CHOLG'U</p></a> <br>
										<a href="http://uzmmsi.uz/images/Сиртқи-3-курс-КТ-ВОКАЛ.pdf" target="_blank"><p align="justify">Siqrtqi 3 kurs KT VOKAL</p></a> <br>
										<a href="http://uzmmsi.uz/images/Сиртқи-3-курс-КТ-ЧОЛҒУ.pdf" target="_blank"><p align="justify">Siqrtqi 3 kurs KT CHOLG'U</p></a> <br>
									</div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
{% endblock content %} 