{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/favicon.png" %} />

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet'
        type='text/css'>


    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href={% static "css/lib/font-awesome.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/font-lotusicon.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/bootstrap.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/owl.carousel.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/jquery-ui.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/magnific-popup.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/settings.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/lib/bootstrap-select.min.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/helper.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/custom.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/responsive.css" %}>

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>

</head>

<body> <!--<![endif]-->



    {% block content %}{% endblock content %}

    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <header id="header">
            <!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">

                        <span><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</span>
                        <span><i class="lotus-icon-phone"></i>+99871 237-37-75</span>
                    </div>
                    <div class="header_right float-right">

                        <span class="login-register">
                            <a href="http://uzmmsi.uz/login.html">Login</a>
                            <a href="http://uzmmsi.uz/register.html">register</a>
                        </span>
                        <div class="dropdown language">
                            <span>O'zbekcha</span>

                            <ul>
                                <li><a href="#">Русский</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">

                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
                            <li class="current-menu-item"><a href={% url 'home' %}>Bosh sahifa</a></li>
                            <li>
                                <a href="#">Institut<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Tuzilma<span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href={% url 'management' %}>Rahbariat</a></li>
                                            <li><a href={% url 'faculty' %}>Fakultetlar</a></li>
                                            <li><a href={% url 'cafedra' %}>Kafedralar</a></li>
                                            <li><a href={% url 'department' %}>Bo‘limlar</a></li>
                                            <li><a href={% url 'center' %}>Markazlar</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href={% url 'about' %}>Institut haqida</a>
                                    </li>
                                    <li>
                                        <a href={% url 'state_symbol' %}>Davlat ramzlari</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">Talabalar<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href={% url "examschedule" %}>Imtihonlar jadvali</a>
                                    </li>
                                    <li>
                                        <a href={% url 'bachelor' %}>Bakalavriyat</a>
                                    </li>
                                    <li>
                                        <a href={% url 'lesson_table_bachelor' %}>Dars jadvali «Bakalavr»</a>
                                    </li>
                                    <li>
                                        <a href={% url 'masters' %}>Magistratura</a>
                                    </li>
                                    <li>
                                        <a href="DARS_JADVALI_MAGISTRATURA.html">DARS JADVALI «MAGISTRATURA»</a>
                                    </li>
                                    <li>
                                        <a href="Sirtqi_ta’lim.html">Sirtqi ta’lim</a>
                                    </li>

                                </ul>
                            </li>
                            <!-- <li><a href="#">Talabalar</a></li> -->
                            <li>
                                <a href="#">Malaka talablari <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="otmreyting.html">OTM REYTING</a></li>
                                    <li><a href="Talablar.html">Talablar</a></li>

                                    <li>
                                        <a href="#">Moliyaviy faoliyat<span
                                                class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href={% url 'management' %}>Xizmat safarlari</a></li>


                                        </ul>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="#">Ta’lim <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Video darslar</a></li>

                                </ul>
                            </li>
                            <li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
                            <li><a href="http://uzmmsi.uz/kutubxona.uzmmsi.uz" target="_blank">Kutubxona</a></li>
                            <li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                        </ul>
                        <div class="shortcode-button">
                        </div>
                    </nav>
                    <!-- END / HEADER MENU -->

                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->

                </div>

            </div>
            <!-- END / HEADER LOGO & MENU -->

        </header>
        <!-- END / HEADER -->

        <!-- END / OUR BEST -->
        <br>
        <br>
        <!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">

                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-9">
                            <div class="mailchimp">
                                <h4>obuna bo`ling</h4>

                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->

                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="https://www.youtube.com/channel/UCZHIX3Aspnrh-D7XV_Aduvw"><i
                                            class="fa fa-youtube"></i></a>
                                    <a href="https://www.facebook.com/uzmmsiofficial"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/uzmmsi_official/"><i
                                            class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->

            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href={% url 'home' %}><img src="http://uzmmsi.uz/images/logo-footer.png" %}
                                                alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</p>
                                        <p><i class="lotus-icon-phone"></i>+99871 237-37-75</p>
                                        <p><i class="fa fa-envelope-o"></i> <a
                                                href="mailto:info@uzmmsi.uz">info@uzmmsi.uz</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title"><a href="saytxaritasi.html">Sayt Xaritasi</a></h4>
                                <ul>
                                    <li><a href={% url 'home' %}>Bosh sahifa</a></li>
                                    <li><a href={% url 'management' %}>Rahbariat</a></li>
                                    <li><a href={% url 'faculty' %}>Fakultetlar</a></li>
                                    <li><a href={% url 'cafedra' %}>Kafedralar</a></li>
                                    <li><a href={% url 'department' %}>Bo`limlar</a></li>
                                    <li><a href={% url 'center' %}>Markazlar</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>
                                    <li><a href="#">Institut tarixi</a></li>
                                    <li><a href="#">Institut tashkiliy tuzulmasi</a>
                                    <li><a href="#">Talabalar</a></li>
                                    <li><a href="#">Malaka talablari</a></li>
                                    <li><a href="#">Moliyaviy faoliyat</a></li>
                                    <li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>

                                    <li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                                    <li><a href={% url 'home' %}>Biz haqimizda</a></li>
                                    <li><a href="vacansy.html">Vakansiya</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2022&nbsp;&nbsp;<a href="https://tsoft.uz/" target="_blank"><b>TSOF.UZ</a></a></p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->

    <!-- LOAD JQUERY -->
    <script type="text/javascript" src = {% static "js//lib/jquery-1.11.0.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery-ui.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/bootstrap.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/bootstrap-select.js" %}></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src = {% static "js//lib/isotope.pkgd.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.themepunch.revolution.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.themepunch.tools.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/owl.carousel.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.appear.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.countTo.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.countdown.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.parallax-1.1.3.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.magnific-popup.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/SmoothScroll.js" %}></script>
    <!-- validate -->
    <script type="text/javascript" src = {% static "js//lib/jquery.form.min.js" %}></script>
    <script type="text/javascript" src = {% static "js//lib/jquery.validate.min.js" %}></script>
    <!-- Custom jQuery -->
    <script type="text/javascript" src = {% static "js//scripts.js" %}></script>
</body>

</html>