{% extends 'base.html' %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">“DOSTON IJROCHILIGI” KAFEDRASI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="dik.html#" class="post-thumbnail hover-zoom"><img src="images/home-3/deals/dik.png" width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>2020-yil 2-sentabrda “Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti faoliyatini tashkil etish to‘g‘risida” gi Vazirlar Mahkamasining 536-son Qarorida belgilangan vazifalardan kelib chiqib, 2020-yilning 3-sentabrida Yunus Rajabiy nomidagi o‘zbek milliy musiqa san’ati institutida “Doston ijrochiligi” kafedrasi tashkil etildi.</b></p> <br>
                                        <p align="justify">Kafedra o‘z faoliyatini rivojlantirish maqsadida </p> <br>
										<p align="justify">• madaniyat sohasi ehtiyojlaridan kelib chiqib baxshichilik san’ati bo‘yicha yuqori malakali mutaxassislar va ilmiy-pedagog kadrlarni tayyorlash, ularning ilmiy-ijodiy faoliyat bilan shug‘ullanishlari uchun keng imkoniyatlar yaratish; </p> <br>
                                        <p align="justify">• baxshichilik san’ati bo‘yicha fundamental, amaliy va ijodiy izlanish hamda tadqiqotlar olib borish, sohada shakllangan ijodiy maktablarning o‘ziga xos ijro uslublari va an’analarini qayta tiklash va rivojlantirish;</p> <br>
                                        <p align="justify">• o‘quv-metodik adabiyotlar yaratish, baxshi va oqinlarning ijodiy merosini chuqur o‘rganish va qayta tiklash;</p> <br>
                                        <p align="justify">• milliy musiqa san’ati va xalq ijodiyoti yo‘nalishlarida xorijiy ta’lim muassasalari va markazlari bilan xalqaro hamkorlikni yo‘lga qo‘yish, o‘zaro tajriba almashish, qo‘shma ta’lim dasturlari va ilmiy loyihalarni amalga oshirish;</p> <br>
                                        <p align="justify">• o‘quv jarayonining amaliyot bilan uzviyligini ta’minash maqsadida madaniyat muassasalari va badiiy jamoalar bilan talabalar amaliyotini tashkil etish, bitiruvchilarni ish bilan ta’minlash bo‘yicha maqsadli hamkorlikni yo‘lga qo‘yish;</p> <br>
                                        <p align="justify">• baxshichilik san’atining ilmiy-nazariy va amaliy asoslarini chuqur o‘rganish va mustahkamlash;</p> <br>
                                        <p align="justify">• sohada shakllangan ijodiy maktablarning o‘ziga xos ijro uslublari, «ustoz–shogird» an’analarini qayta tiklash va rivojlantirish kabi vazifalarni o‘z oldiga maqsad qilib qo‘ygan.</p> <br>
                                        <p align="justify">Bugungi kunda kafedrada jami 9 nafar profesor-o‘qituvchi, jumladan, 2 nafari fan nomzodi, professor v.b., 1 nafari O‘zbekistonda xizmat ko‘rsatgan artist, dotsent v.b., 3 nafari katta o‘qituvchi hamda 3 nafar o‘qituvchi o‘z faoliyatini olib bormoqda.</p> <br>
                                        
								</article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
		
{% endblock content %}