{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- PRELOADER -->
<div id="preloader">
    <span class="preloader-dot"></span>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">



    <!-- BANNER SLIDER -->
    <section class="section-slider">
        <h1 class="element-invisible">Slider</h1>
        <div id="slider-revolution">
            <ul>
                <li data-transition="fade">
                    <img src={% static "images/slider/yurajab.png" %} data-bgposition="left center"
                        data-duration="14000" data-bgpositionend="right center" alt="">





                    <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                        data-speed="700" data-easing="easeOutBack" data-start="2000"></div>


                </li>



            </ul>
        </div>

    </section>
    <!-- END / BANNER SLIDER -->

    <section class="section-room bg-white">
        <div class="container">

            <div class="room-wrap-2">

                <!-- ITEM -->
                <div class="room_item-2">

                    <div class="img">
                        <a href="index.html#"><img src={% static "images/slider/uzmmsi.png" %} alt=""></a>
                    </div>

                    <div class="text">
                        <h2><a href="index.html#"></a></h2>
                        <span class="price"><B>O`ZBEK MILLIY MUSIQA VA SAN'AT INSTITUTI</B></span>
                        <p align="justify"><b>Vazirlar Mahkamasi 2020-yil 2-sentabrdagi 536-sonli “Yunus Rajabiy
                                nomidagi O‘zbek milliy musiqa san’ati instituti faoliyatini tashkil etish
                                to‘g‘risida”gi qarori asosida O‘zbekiston davlat konservatoriyasi hamda O‘zbekiston
                                davlat san’at va madaniyat institutining tegishli ta’lim yo‘nalishlari negizida
                                Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti tashkil etildi. U
                                maqom ijrochiligi, baxshichilik va katta ashula yo‘nalishlari bo‘yicha kadrlar
                                tayyorlovchi tayanch oliy ta’lim muassasasi hisoblanadi.</b></p>

                    </div>
                </div>
                <!-- ITEM -->
            </div>
        </div>
    </section>
    <!-- END / ROOM -->
    <!-- NEWS -->
    <section class="section-news mt60">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading row-20 mb40 text-center">
                            <h2>YANGILIKLAR</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <script async src="https://telegram.org/js/telegram-widget.js?21"
                            data-telegram-post="uzmmsi_official/7123" data-width="100%"></script>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <script async src="https://telegram.org/js/telegram-widget.js?21"
                            data-telegram-post="uzmmsi_official/7126" data-width="100%"></script>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <script async src="https://telegram.org/js/telegram-widget.js?21"
                            data-telegram-post="uzmmsi_official/7124" data-width="100%"></script>
                    </div>
                </div>
                <div class="text-center">
                    <a href="https://t.me/uzmmsi_official" target="_blank"
                        class="awe-btn awe-btn-default font-hind f12 bold btn-medium mt15">Barcha yangliklar</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END / NEWS -->

    <!-- DEALS PACKAGE -->
    <section class="section-deals mt90">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading row-20 mb30 text-center">
                            <h2>FAKULTETLAR</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/mmsf.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'uzmms' %}>“O’ZBEK MILLIY
                                    MUSIQA SAN’ATI” FAKULTETI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href={% url 'uzmms' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/mmsf2.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href="#">«Professional
                                    ta’lim» fakulteti</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href="#">Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                            <div class="ot-heading row-20 mb30 text-center">
                                <h2>KAFEDRALAR</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/uzmaqom.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'uzmtn' %}>“O‘zbek maqomi
                                    tarixi va nazariyasi” kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href={% url 'uzmtn' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/vakalvacholgu.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'vchipt' %}>“Vokal va cholg‘u
                                    ijrochiligi pedagoglari tayyorlash”kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href={% url 'vchipt' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/dostonijro.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'dik' %}>“Doston ijrochiligi”
                                    kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'dik' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/maqomxonanda.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'mxk' %}>“Maqom xonandaligi”
                                    kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={% url 'mxk' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/maqomcholu.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={% url 'mchi' %}>“Maqom cholg`u
                                    ijrochiligi” kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href={% url 'mchi' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/uzadabiyot.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href="index.html#">“O‘zbek adabiyoti,
                                    tillar va gumanitar fanlar” kafedrasi</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href={% url 'uzatgf' %}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={% static "images/home-3/deals/kompazitorlik.png" %} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href="index.html#">“KOMPOZITORLIK,
                                    BASTAKORLIK VA UMUMIY FORTEPIANO” KAFEDRASI</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold"
                                    href="#">Batafsil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / DEALS PACKAGE -->


    <!-- univer STATISTICS -->
    <section class="section-statistics bg-10">

        <div class="awe-overlay"></div>

        <div class="container" style="height: 150px;">
            <div class="statistics">

                <h2 class="heading white text-center"></h2>

                <div class="statistics_content">
                    <div class="row" style="width: 1600px;">

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">564</span>
                                <span>Talabalar soni</span>
                            </div>
                        </div>
                        <!-- END ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">66</span>
                                <span>Professor — o`qtuvchilar</span>
                            </div>
                        </div>
                        <!-- END ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">3722</span>
                                <span>Kutubxona resurslari</span>
                            </div>
                        </div>
                        <!-- END ITEM -->



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / HOTEL STATISTICS -->
    <!-- OUR BEST -->
    <section class="ot-out-best mt60">
        <div class="container">
            <div class="content">

                <div class="owl-single owl-best" data-single_item="false" data-desktop="6" data-small_desktop="4"
                    data-tablet="3" data-mobile="2" data-nav="true" data-pagination="false">
                    <div class="item text-center">
                        <a href="https://president.uz/uz" target="_blank"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">president.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://pm.gov.uz/oz#/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">pm.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://pm.gov.uz/oz#/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">regulation.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://my.gov.uz/oz"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/mygov.png" %} alt="icon">
                            <span class="font-hind f-500">my.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://huquqiyportal.uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/huquqiyportal.png" %} alt="icon">
                            <span class="font-hind f-500">huquqiyportal.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://lex.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/lex.png" %} alt="icon">
                            <span class="font-hind f-500">lex.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://lex.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/datagovuz.png" %} alt="icon">
                            <span class="font-hind f-500">data.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://www.gov.uz/uz"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://minjust.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/minjust.png" %} alt="icon">
                            <span class="font-hind f-500">minjust.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://minjust.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/uzeduuz.png" %} alt="icon">
                            <span class="font-hind f-500">uzedu.uz</span></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR BEST -->
    <br>
    <br>


</div>
<!-- END / PAGE WRAP -->
{% endblock content %}