{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- PRELOADER -->
<div id="preloader">
    <span class="preloader-dot"></span>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">



    <!-- BANNER SLIDER -->
    <section class="section-slider">
        <h1 class="element-invisible">Slider</h1>
        <div id="slider-revolution">
            <ul>
                <li data-transition="fade">
                    <img src={% static "images/slider/yurajab.png" %} data-bgposition="left center"
                        data-duration="14000" data-bgpositionend="right center" alt="">





                    <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                        data-speed="700" data-easing="easeOutBack" data-start="2000"></div>


                </li>



            </ul>
        </div>

    </section>
    <!-- END / BANNER SLIDER -->

    <section class="section-room bg-white">
        <div class="container">

            <div class="room-wrap-2">

                <!-- ITEM -->
                <div class="room_item-2">

                    <div class="img">
                        <a href="index.html#"><img src={% static "images/slider/uzmmsi.png" %} alt=""></a>
                    </div>

                    <div class="text">
                        <h2><a href="index.html#"></a></h2>
                        <span class="price"><B>O`ZBEK MILLIY MUSIQA VA SAN'AT INSTITUTI</B></span>
                        <p align="justify"><b>Vazirlar Mahkamasi 2020-yil 2-sentabrdagi 536-sonli “Yunus Rajabiy
                                nomidagi O‘zbek milliy musiqa san’ati instituti faoliyatini tashkil etish
                                to‘g‘risida”gi qarori asosida O‘zbekiston davlat konservatoriyasi hamda O‘zbekiston
                                davlat san’at va madaniyat institutining tegishli ta’lim yo‘nalishlari negizida
                                Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti tashkil etildi. U
                                maqom ijrochiligi, baxshichilik va katta ashula yo‘nalishlari bo‘yicha kadrlar
                                tayyorlovchi tayanch oliy ta’lim muassasasi hisoblanadi.</b></p>

                    </div>
                </div>
                <!-- ITEM -->
            </div>
        </div>
    </section>
    <!-- END / ROOM -->
    <!-- NEWS -->
    <section class="section-news mt60">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading row-20 mb40 text-center">
                            <h2>YANGILIKLAR</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for object in object_list %}
                    <div class="col-xs-12 col-sm-4">
                        <div class="item">
                            <div class="img">
                                <img class="img-responsive img-full" src={{object.image.url}} alt="">
                            </div>
                            <div class="info">
                                <p class="date f20">
                                    {{object.date}}
                                </p>
                                <a class="title font-monserat f20 mb20 block bold upper" href={{object.get_absolute_url}}>{{object.title}}</a>
                                <a class="more block f13" href={{object.get_absolute_url}}>[BATAFSIL]</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <div class="text-center">
                    <a href={% url 'posts' %} class="awe-btn awe-btn-default font-hind f12 bold btn-medium mt15">Barcha yangliklar</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END / NEWS -->

    <!-- DEALS PACKAGE -->
    <section class="section-deals mt90">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading row-20 mb30 text-center">
                            <h2>FAKULTETLAR</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for object in fakultetlar %}
					<div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={{object.image_bg.url}} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={{object.get_absolute_url}}>{{object.name}}</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={{object.get_absolute_url}}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                            <div class="ot-heading row-20 mb30 text-center">
                                <h2>KAFEDRALAR</h2>
                            </div>
                        </div>
                    </div>
                    {% for object in cafedras  %}
                    <div class="col-xs-12 col-sm-6">
                        <div class="item item-deal">
                            <div class="img">
                                <img class="img-full" src={{object.image_bg.url}} alt="">
                            </div>
                            <div class="info">
                                <a class="title bold f26 font-monserat upper" href={{object.get_absolute_url}}>{{object.name}}</a>
                                <p class="sub font-monserat f12 f-600 upper mt10 mb20"></p>
                                <a class="awe-btn awe-btn-12 btn-medium font-hind f12 bold" href={{object.get_absolute_url}}>Batafsil</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- END / DEALS PACKAGE -->


    <!-- univer STATISTICS -->
    <section class="section-statistics bg-10">

        <div class="awe-overlay"></div>

        <div class="container" style="height: 150px;">
            <div class="statistics">

                <h2 class="heading white text-center"></h2>

                <div class="statistics_content">
                    <div class="row" style="width: 1600px;">

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">564</span>
                                <span>Talabalar soni</span>
                            </div>
                        </div>
                        <!-- END ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">66</span>
                                <span>Professor — o`qtuvchilar</span>
                            </div>
                        </div>
                        <!-- END ITEM -->

                        <!-- ITEM -->
                        <div class="col-xs-6 col-md-3">
                            <div class="statistics_item">
                                <span class="count">3722</span>
                                <span>Kutubxona resurslari</span>
                            </div>
                        </div>
                        <!-- END ITEM -->



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / HOTEL STATISTICS -->
    <!-- OUR BEST -->
    <section class="ot-out-best mt60">
        <div class="container">
            <div class="content">

                <div class="owl-single owl-best" data-single_item="false" data-desktop="6" data-small_desktop="4"
                    data-tablet="3" data-mobile="2" data-nav="true" data-pagination="false">
                    <div class="item text-center">
                        <a href="https://president.uz/uz" target="_blank"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">president.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://pm.gov.uz/oz#/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">pm.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://pm.gov.uz/oz#/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">regulation.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://my.gov.uz/oz"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/mygov.png" %} alt="icon">
                            <span class="font-hind f-500">my.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://huquqiyportal.uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/huquqiyportal.png" %} alt="icon">
                            <span class="font-hind f-500">huquqiyportal.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://lex.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/lex.png" %} alt="icon">
                            <span class="font-hind f-500">lex.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://lex.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/datagovuz.png" %} alt="icon">
                            <span class="font-hind f-500">data.gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://www.gov.uz/uz"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/icon-11.png" %} alt="icon">
                            <span class="font-hind f-500">gov.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://minjust.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/minjust.png" %} alt="icon">
                            <span class="font-hind f-500">minjust.uz</span></a>
                    </div>
                    <div class="item text-center">
                        <a href="https://minjust.uz/uz/"><img class="img-responsive mb10" src={%
                                static "images/home-3/icon/uzeduuz.png" %} alt="icon">
                            <span class="font-hind f-500">uzedu.uz</span></a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR BEST -->
    <br>
    <br>


</div>
<!-- END / PAGE WRAP -->
{% endblock content %}