<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>YUNUS RAJABIY NOMIDAGI O‘ZBEK MILLIY MUSIQA SAN’ATI INSTITUTI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/favicon.png"/>

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-select.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

    
    <!-- PRELOADER -->
    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->


    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <header id="header">
		<!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        
                        <span><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</span>
                        <span><i class="lotus-icon-phone"></i>+99871 237-37-75</span>
                    </div>
                    <div class="header_right float-right">

                        <span class="login-register">
                            <a href="http://uzmmsi.uz/login.html">Login</a>
                            <a href="http://uzmmsi.uz/register.html">register</a>
                        </span>
						<div class="dropdown language">
                            <span>O'zbekcha</span>

                            <ul>
                                <li><a href="institut_haqida.html#">Русский</a></li>
                                <li><a href="institut_haqida.html#">English</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">
                   
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
							<li class="current-menu-item"><a href="index.html">Bosh sahifa</a></li>
							<li>
                                <a href="institut_haqida.html#">Institut<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="institut_haqida.html#">Tuzilma<span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="rahbariat.html">Rahbariat</a></li>
                                            <li><a href="fakultetlar.html">Fakultetlar</a></li>
                                            <li><a href="kafedralar.html">Kafedralar</a></li>
                                            <li><a href="bolimlar.html">Bo‘limlar</a></li>
                                            <li><a href="markazlar.html">Markazlar</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="institut_haqida.html">Institut haqida</a>
                                    </li>
									<li>
                                        <a href="Davlat_ramzlari.html">Davlat ramzlari</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="institut_haqida.html#">Talabalar<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="Imtihonlar_jadvali.html">Imtihonlar jadvali</a>
                                    </li>
									<li>
                                        <a href="Bakalavriyat.html">Bakalavriyat</a>
                                    </li>
									<li>
                                        <a href="Dars_jadvali_Bakalavr.html">Dars jadvali «Bakalavr»</a>
                                    </li>
									<li>
                                        <a href="Magistratura.html">Magistratura</a>
                                    </li>
									<li>
                                        <a href="DARS_JADVALI_MAGISTRATURA.html">DARS JADVALI «MAGISTRATURA»</a>
                                    </li>
									<li>
                                        <a href="Sirtqi_ta’lim.html">Sirtqi ta’lim</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <!-- <li><a href="#">Talabalar</a></li> -->
                            <li>
                                <a href="institut_haqida.html#">Malaka talablari <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="otmreyting.html">OTM REYTING</a></li>
                                    <li><a href="Talablar.html">Talablar</a></li>
									
									<li>
                                        <a href="institut_haqida.html#">Moliyaviy faoliyat<span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="rahbariat.html">Xizmat safarlari</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
								
                            </li>
                            <li>
                                <a href="institut_haqida.html#">Ta’lim <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="institut_haqida.html#">Video darslar</a></li>
                                    
                                </ul>
                            </li>
							<li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
							<li><a href="http://uzmmsi.uz/kutubxona.uzmmsi.uz" target="_blank">Kutubxona</a></li>
							<li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                        </ul>
						<div class="shortcode-button">
                    </div>
					</nav>
                    <!-- END / HEADER MENU -->

                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->
				
                </div>
				
            </div>
            <!-- END / HEADER LOGO & MENU -->
		
        </header>
        <!-- END / HEADER -->
        
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>INSTITUT HAQIDA</h2>
                       
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content">
                                <h1 class="element-invisible">Blog detail</h1>
                                <!-- POST SINGLE -->
                                <article class="post post-single">
									<div class="entry-header">

                                        <h2 class="entry-title" align="center">O‘zbekiston Respublikasi Vazirlar Mahkamasining qarori</h2>
										<br>
                                        <h2 class="entry-title">Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti faoliyatini tashkil etish to‘g‘risida</h2>

                                        <p class="entry-meta">

                                            <span class="entry-author">
                                                <a href="https://lex.uz/m/acts/4976746" target="_blank" class="entry-author-link">
                                                    <span class="entry-author-name">Lex.uz</span>
                                                </a>
                                            </span>

                                            <span class="entry-categories">
                                                <a href="institut_haqida.html#">batafsil ma'lumot</a>, 
                                                
                                            </span>

                                        </p>

                                    </div>

                                    <div class="entry-content">

                                        <p align="center"><b>O‘zbekiston Respublikasi Vazirlar Mahkamasining</b></p><br />

                                        <p align="center"><b>QARORI</b></p><br/>

                                        <p align="justify">Maqom va baxshichilik san’ati sohasi uchun yuqori malakali kadrlar tayyorlash tizimini tubdan takomillashtirish, ta’lim jarayoniga o‘qitishning innovatsion shakl va metodlari hamda zamonaviy pedagogik va axborot texnologiyalarini keng joriy etish, soha mutaxassislarining ilmiy salohiyatini yanada oshirish maqsadida Vazirlar Mahkamasi qaror qiladi:</p> <br>
                                        <p align="justify">1. O‘zbekiston Respublikasi Prezidentining “Madaniyat va san’at sohasining jamiyat hayotidagi o‘rni va ta’sirini yanada oshirish chora-tadbirlari to‘g‘risida” 2020-yil 26-maydagi PF-6000-son <a href="https://lex.uz/docs/-4829149" target="_blank">Farmoniga</a> muvofiq O‘zbekiston Respublikasi Madaniyat vazirligi tizimida O‘zbekiston davlat konservatoriyasining “O‘zbek maqom san’ati fakulteti” hamda O‘zbekiston davlat san’at va madaniyat institutining tegishli ta’lim yo‘nalishlari va mutaxassisliklari negizida maqom ijrochiligi, baxshichilik va katta ashula yo‘nalishlari bo‘yicha kadrlar tayyorlovchi tayanch oliy ta’lim muassasasi ― Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti (keyingi o‘rinlarda ― Institut) tashkil etilganligi ma’lumot uchun qabul qilinsin.</p> <br>
                                        <p align="justify">2. Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutiga O‘zbekiston davlat konservatoriyasi hamda O‘zbekiston davlat san’at va madaniyat institutidan o‘tkaziladigan ta’lim yo‘nalishlari (mutaxassisliklar) ro‘yxati 1-ilovaga muvofiq tasdiqlansin.</p> <br>
                                        <p align="justify">3. Belgilansinki, Institut:</p> <br>
                                        <p align="justify">yuridik shaxs maqomiga, o‘z ustaviga, O‘zbekiston Respublikasi Davlat gerbi tasviri tushirilgan va o‘z nomi davlat tilida yozilgan muhrga hamda blankalarga, mustaqil balansga, O‘zbekiston Respublikasi Moliya vazirligining G‘aznachiligida shaxsiy g‘azna hisobvarag‘iga ega bo‘lgan, ushbu qarorga 1-ilovada keltirilgan ta’lim yo‘nalishlari (mutaxassisliklar) bo‘yicha oliy ma’lumotli mutaxassislar va ilmiy-pedagog kadrlarni tayyorlash bo‘yicha tayanch oliy ta’lim muassasasi hisoblanadi;</p> <br>
                                        <p align="justify">bir qancha xalqaro ta’lim standartlari hamda o‘quv dasturlariga muvofiq, 2021/2022 o‘quv yilidan boshlab ta’limning kredit-modul tizimini bosqichma-bosqich joriy etadi;</p> <br>
                                        <p align="justify">O‘zbekiston Respublikasi Madaniyat vazirligiga idoraviy jihatdan bo‘ysunadi.</p> <br>
                                        <p align="justify">4. Quyidagilar Institutning asosiy vazifalari va faoliyat yo‘nalishlari etib belgilansin:</p> <br>
                                        <p align="justify">madaniyat sohasi ehtiyojlaridan kelib chiqib maqom ijrochiligi va baxshichilik san’ati bo‘yicha yuqori malakali mutaxassislar va ilmiy-pedagog kadrlarni tayyorlash, ularning ilmiy-ijodiy faoliyat bilan shug‘ullanishlari uchun keng imkoniyatlar yaratish;</p> <br>
                                        <p align="justify">maqom ijrochiligi va baxshichilik san’ati bo‘yicha fundamental, amaliy va ijodiy izlanish hamda tadqiqotlar olib borish, sohada shakllangan ijodiy maktablarning o‘ziga xos ijro uslublari va an’analarini qayta tiklash va rivojlantirish;</p> <br>
                                        <p align="justify">milliy musiqa san’ati va xalq ijodiyoti yo‘nalishlarida o‘quv-metodik adabiyotlar yaratish, atoqli bastakorlar, hofiz va sozandalar, baxshi va oqinlarning ijodiy merosini chuqur o‘rganish va qayta tiklash, shuningdek, mumtoz musiqa san’ati namunalarini notaga ko‘chirish;</p> <br>
                                        <p align="justify">milliy musiqa san’ati va xalq ijodiyoti yo‘nalishlarida xorijiy ta’lim muassasalari va markazlari bilan xalqaro hamkorlikni yo‘lga qo‘yish, o‘zaro tajriba almashish, qo‘shma ta’lim dasturlari va ilmiy loyihalarni amalga oshirish;</p> <br>
                                        <p align="justify">o‘quv jarayonining amaliyot bilan uzviyligini ta’minlash maqsadida madaniyat muassasalari va badiiy jamoalar bilan talabalar amaliyotini tashkil etish, bitiruvchilarni ish bilan ta’minlash bo‘yicha maqsadli hamkorlikni yo‘lga qo‘yish;</p> <br>
                                        <p align="justify">milliy musiqa san’ati va xalq ijodiyoti yo‘nalishlarining ijodiy, ilmiy-metodik va ijro an’analarini puxta o‘zlashtirish maqsadida madaniyat va san’at sohasidagi ta’lim muassasalari tegishli o‘quv dasturlarining uzluksizligi va uzviyligini ta’minlash, ta’lim muassasalariga taniqli san’atkorlarni biriktirish va shu asosda “ustoz-shogird” an’analarini keng joriy etish;</p> <br>
                                        <p align="justify">respublikadagi bolalar musiqa va san’at maktablari, ixtisoslashtirilgan madaniyat va san’at maktablari, maktab-internatlar hamda musiqa va san’at kollejlarida ta’lim olayotgan, turli ko‘rik-tanlovlarda muvaffaqiyatli ishtirok etayotgan iqtidorli yoshlarning seleksiyasini amalga oshirish va ularni Institutga o‘qishga jalb etish tizimini ishlab chiqish;</p> <br>
                                        <p align="justify">maqom va baxshichilik san’atiga ixtisoslashtirilgan maktab-internatlarda ta’lim olayotgan o‘quvchilar, “Xalqaro maqom festivali” va “Xalqaro baxshichilik san’ati festivali” doirasida tashkil etiladigan ko‘rik-tanlovlarda iste’dodli yoshlarning seleksiyasini amalga oshirish;</p> <br>
                                        <p align="justify">O‘zbekiston Respublikasi Prezidenti tomonidan ilgari surilgan beshta muhim tashabbusni amaliyotga keng joriy etish, xususan, yoshlarni musiqa va san’atga keng jalb qilish, ularda estetik did va kasb odob-axloqini tarbiyalash maqsadida madaniyat, musiqa va san’at yo‘nalishida turli tanlovlar, ko‘rgazmalar, ansambllar va to‘garaklar tashkil etish.</p> <br>
                                        <p align="justify">5. Belgilab qo‘yilsinki:</p> <br>
                                        <p align="justify">Institutda o‘quv jarayoni 2020/2021 o‘quv yilidan boshlanadi;</p> <br>
                                        <p align="justify">2020/2021 o‘quv yilida O‘zbekiston davlat konservatoriyasi hamda O‘zbekiston davlat san’at va madaniyat institutiga ushbu qarorga 1-ilovada keltirilgan yo‘nalishlar (mutaxassisliklar) bo‘yicha o‘qishga qabul qilingan, shuningdek, ushbu yo‘nalishlar (mutaxassisliklar)da tahsil olayotgan talabalar o‘qishlarini Institutda davom ettiradilar;</p> <br>
                                        <p align="justify">2021/2022 o‘quv yilidan boshlab Institutga talabalarni bakalavriat ta’lim yo‘nalishlari va magistratura mutaxassisliklari bo‘yicha qabul qilish soni har yili belgilangan tartibda tasdiqlanadigan respublika oliy ta’lim muassasalariga o‘qishga qabul qilish parametrlaridan kelib chiqqan holda belgilanadi;</p> <br>
                                        <p align="justify">2021/2022 o‘quv yilidan boshlab Institutda maxsus sirtqi ta’lim tashkil etiladi hamda unga madaniyat va san’at ta’limi yo‘nalishi bo‘yicha o‘rta maxsus, kasb-hunar ma’lumotiga va ta’lim yo‘nalishiga muvofiq soha, kasb, lavozimlarda kamida uch yillik amaliy ish stajiga (pedagogika yo‘nalishlari uchun pedagogik stajga) ega bo‘lgan, O‘zbekiston Respublikasi Madaniyat vazirligi tomonidan berilgan tavsiyanomaga ega, test sinovlaridan (kirish imtihonlari yoki kasbiy suhbatdan) muvaffaqiyatli o‘tgan abituriyentlar qabul qilinadi.</p> <br>
                                        <p align="justify">6. Institutga quyidagi huquqlar berilsin:</p> <br>
                                        <p align="justify">O‘zbekiston Respublikasi Oliy va o‘rta maxsus ta’lim vazirligi bilan kelishgan holda o‘quv rejalari va dasturlarini, bitiruvchilarga qo‘yiladigan malaka talablarini o‘quv jarayonining o‘ziga xos xususiyatlarini hisobga olib mustaqil ishlab chiqish va tasdiqlash;</p> <br>
                                        <p align="justify">kredit-modul tizimini o‘quv jarayoniga joriy etish borasida professor-o‘qituvchilar o‘quv yuklamasini mustaqil me’yorlashtirish, shuningdek, pedagog xodimlar tomonidan olib borilayotgan o‘quv-metodik, ilmiy-tadqiqot ishlari olib borilishini, “ustoz-shogird” an’analari joriy qilinishini rag‘batlantirib borish;</p> <br>
                                        <p align="justify">o‘quv rejalaridagi nazariy ta’lim ulushini qisqartirish hisobiga amaliy mashg‘ulotlar hajmini oshirish.</p> <br>
                                        <p align="justify">7. 2020/2021 o‘quv yilidan boshlab O‘zbekiston Respublikasi Madaniyat vazirligi tizimidagi oliy ta’lim muassasalarida faoliyat yuritib kelayotgan professor-o‘qituvchilarning ijodiy faoliyati natijalari quyidagilarga tenglashtirilsin:</p> <br>
                                        <p align="justify">“O‘zbekiston Respublikasi san’at arbobi”, “O‘zbekiston Respublikasi xalq artisti”, “O‘zbekiston Respublikasi xalq baxshisi”, “O‘zbekiston Respublikasi xalq hofizi” faxriy unvonlari ― professor ilmiy unvoniga;</p> <br>
                                        <p align="justify">“O‘zbekiston Respublikasida xizmat ko‘rsatgan artist”, “O‘zbekiston Respublikasida xizmat ko‘rsatgan madaniyat xodimi” faxriy unvonlari ― dotsent ilmiy unvoniga;</p> <br>
                                        <p align="justify">ijodiy ishlar (sahnalashtirilgan musiqiy spektakl, musiqiy asarlar, konsertlar, badiiy, hujjatli, qisqa metrajli va animatsion filmlarga yozilgan musiqalar) muallifligi ― ilmiy, o‘quv-metodik ishlarga.</p> <br>
                                        <p align="justify">8. Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti faoliyatini tashkil etish va rivojlantirish chora-tadbirlari dasturi 2-ilovaga muvofiq tasdiqlansin.</p> <br>
                                        <p align="justify">9. Quyidagilar Institutni moliyalashtirish manbai etib belgilansin:</p> <br>
                                        <p align="justify">O‘zbekiston Respublikasi Davlat budjeti mablag‘lari;</p> <br>
                                        <p align="justify">O‘zbekiston Respublikasi Innovatsion rivojlanish vazirligi tomonidan o‘tkaziladigan tanlovlar natijalari bo‘yicha ajratiladigan grantlar;</p> <br>
                                        <p align="justify">to‘lov-kontrakt asosida talabalar o‘qishidan tushadigan mablag‘lar;</p> <br>
                                        <p align="justify">xo‘jalik faoliyatidan va shartnoma asosida ko‘rsatilgan xizmatlardan tushadigan mablag‘lar;</p> <br>
                                        <p align="justify">ta’lim xizmatlari ko‘rsatishdan, ilmiy-o‘quv, o‘quv-metodik, ilmiy-ijodiy va axborot-tahliliy mahsulotlarni ishlab chiqishdan, konsert-tomosha va boshqa faoliyat turlaridan olingan daromadlar;</p> <br>
                                        <p align="justify">jismoniy va yuridik shaxslarning homiylik xayriyalari;</p> <br>
                                        <p align="justify">qonun hujjatlarida taqiqlanmagan boshqa manbalar.</p> <br>
                                        <p align="justify">10. O‘zbekiston Respublikasi Madaniyat vazirligi bir oy muddatda Institut Toshkent shahar, Mirzo Ulug‘bek tumani, Mustaqillik shoh ko‘chasi, 31-uy manzilidagi O‘zbekiston davlat konservatoriyasiga tegishli bo‘lgan binoga belgilangan tartibda joylashtirilishini ta’minlasin.</p> <br>
                                        <p align="justify">11. O‘zbekiston Respublikasi Madaniyat vazirligi:</p> <br>
                                        <p align="justify">12. a) bir oy muddatda:</p> <br>
                                        <p align="justify">Oliy va o‘rta maxsus ta’lim vazirligi bilan birgalikda ilg‘or xorijiy tajribani atroflicha o‘rgangan holda, Institutning o‘quv reja va o‘quv dasturlarini ishlab chiqish va tasdiqlash;</p> <br>
                                        <p align="justify">bakalavriat ta’lim yo‘nalishlari va magistratura mutaxassisliklari bo‘yicha o‘quv jarayonini sifatli tashkil etish;</p> <br>
                                        <p align="justify">1. b) 2020/2021 o‘quv yilidan boshlab:</p> <br>
                                        <p align="justify">Institutning ilmiy-pedagog kadrlari tarkibini oliy ta’lim va ilmiy-tadqiqot muassasalarida hamda O‘zbekiston Respublikasi Madaniyat vazirligi tizimida faoliyat ko‘rsatayotgan, shu jumladan, xorijiy ta’lim va ilmiy muassasalarda malakasini oshirib kelgan professor-o‘qituvchilar va ilmiy xodimlar, shuningdek, sohadagi salohiyatli amaliyotchi mutaxassislar orasidan shakllantirish;</p> <br>
                                        <p align="justify">o‘zbek milliy musiqa san’ati va xalq ijodiyotining ijodiy, ilmiy-metodik va ijro an’analarini puxta o‘zlashtirish va munosib davom ettirish, bunda ta’lim muassasalariga maqom va baxshichilik san’ati hamda xalq musiqasi ustalarini jalb etish;</p> <br>
                                        <p align="justify">respublikadagi mavjud bolalar musiqa va san’at maktablari, ixtisoslashtirilgan san’at va madaniyat maktablari, maktab-internatlar hamda madaniyat, musiqa va san’at kollejlarida o‘zbek milliy musiqa san’ati va xalq ijodiyotini o‘qitish tizimining uzluksizligi va uzviyligini ta’minlash;</p> <br>
                                        <p align="justify">1. v) 2021-yildan boshlab:</p> <br>
                                        <p align="justify">respublikadagi bolalar musiqa va san’at maktablari, ixtisoslashtirilgan san’at va madaniyat maktablari, maktab-internatlar hamda madaniyat, musiqa va san’at kollejlariga Institutning yetakchi professor-o‘qituvchilarini biriktirish orqali “mahorat maktablari”ni yo‘lga qo‘yish;</p> <br>
                                        <p align="justify">iqtidorli talabalarning mamlakatimizda va xorijiy mamlakatlarda o‘tkaziladigan nufuzli tanlov, festival va ilmiy-ijodiy tadbirlarda muntazam ishtirok etishlarini ta’minlash yuzasidan zarur choralarni ko‘rsin.</p> <br>
                                        <p align="justify">12. Belgilab qo‘yilsinki, Institut faoliyatini moliyalashtirish hamda uni musiqa cholg‘ulari, mebel jihozlari, zarur uskunalar va ovoz yozish studiyasi anjomlari bilan ta’minlash 2020-yilda O‘zbekiston Respublikasining respublika budjetidan birinchi darajali budjet mablag‘larini taqsimlovchi sifatida O‘zbekiston Respublikasi Madaniyat vazirligiga ajratiladigan mablag‘lar doirasida, 2021-yildan boshlab esa Institut faoliyatini moliyalashtirish bilan bog‘liq xarajatlar O‘zbekiston Respublikasi davlat budjeti parametrlarida nazarda tutiladi.</p> <br>
                                        <p align="justify">13. Toshkent shahar hokimligi, O‘zbekiston Respublikasi Davlat aktivlarini boshqarish agentligi Institutning respublikaning boshqa hududlaridan kelib ta’lim olayotgan talabalarining turar joyga bo‘lgan ehtiyojini inobatga olib Institutga yaqin bo‘lgan hududdan talabalar turar joyi uchun mos bino yoki yer maydoni ajratish yuzasidan bir oy muddatda O‘zbekiston Respublikasi Vazirlar Mahkamasiga taklif kiritsin.</p> <br>
                                        <p align="justify">14. Institutga 3 ta, shu jumladan, 2 ta yengil va 1 ta navbatchi avtotransport vositasini saqlash uchun limit ajratilsin.</p> <br>
                                        <p align="justify">15. O‘zbekiston Respublikasi Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish vazirligi Institut faoliyatini samarali tashkil qilish maqsadida Institutni aloqa vositalari, keng qamrovli Internet jahon axborot tarmog‘i va boshqa texnik vositalar bilan belgilangan tartibda ta’minlash choralarini ko‘rsin.</p> <br>
                                        <p align="justify">16. O‘zbekiston Respublikasi Madaniyat vazirligi manfaatdor vazirliklar va idoralar bilan birgalikda o‘zlari qabul qilgan normativ-huquqiy hujjatlarni bir oy muddatda ushbu qarorga muvofiqlashtirsin.</p> <br>
                                        <p align="justify">17. Mazkur qarorning ijrosini nazorat qilish O‘zbekiston Respublikasi Bosh vazirining ijtimoiy rivojlantirish masalalari bo‘yicha o‘rinbosari B.A. Musayev zimmasiga yuklansin.</p> <br>
                                        <p align="right"><b>O‘zbekiston Respublikasining Bosh vaziri A. ARIPOV</b></p> <br>
                                        <p align="right">Toshkent sh., 2020-yil 2-sentabr, 536-son</p> <br>
									</div>
								</article>
                                <!-- END / POST SINGLE -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->

        <!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">

                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-9">
                            <div class="mailchimp">
                                <h4>obuna bo`ling</h4>
                                
                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->
                        
                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="institut_haqida.html#"><i class="fa fa-youtube"></i></a>
                                    <a href="institut_haqida.html#"><i class="fa fa-facebook"></i></a>
                                    <a href="institut_haqida.html#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->

            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="index.html"><img src="http://uzmmsi.uz/images/logo-footer.png" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</p>
                                        <p><i class="lotus-icon-phone"></i>+99871 237-37-75</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@uzmmsi.uz">info@uzmmsi.uz</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Sayt Xaritasi</h4>
                                <ul>
                                    <li><a href="index.html">Bosh sahifa</a></li>
                                    <li><a href="rahbariat.html">Rahbariat</a></li>
                                    <li><a href="fakultetlar.html">Fakultetlar</a></li>
                                    <li><a href="kafedralar.html">Kafedralar</a></li>
                                    <li><a href="bolimlar.html">Bo`limlar</a></li>
                                    <li><a href="markazlar.html">Markazlar</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>
                                    <li><a href="institut_haqida.html#">Institut tarixi</a></li>
                                    <li><a href="institut_haqida.html#">Institut tashkiliy tuzulmasi</a>
                                    <li><a href="institut_haqida.html#">Talabalar</a></li>
                                    <li><a href="institut_haqida.html#">Malaka talablari</a></li>
									<li><a href="institut_haqida.html#">Moliyaviy faoliyat</a></li>
                                    <li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
                                </ul>
                            </div>
                        </div>
						<div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>
                                    
                                    <li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                                    <li><a href="institut_haqida.html">Biz haqimizda</a></li>
                                    <li><a href="vacansy.html">Vakansiya</a></li>
                                </ul>
                            </div>
                        </div>
					</div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2022&nbsp;&nbsp;<a href="https://tsoft.uz/" target="_blank"><b>TSOF.UZ</a></a></p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->


    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/lib/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>