<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title>MAGISTRATURA BO‘LIMI</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="images/favicon.png"/>

    <!-- GOOGLE FONT -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> -->

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/lib/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/lib/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/lib/settings.css">
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-select.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
</head>

<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


    <!-- PRELOADER -->
    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->

    <!-- PAGE WRAP -->
    <div id="page-wrap">

        <!-- HEADER -->
        <header id="header">
		<!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        
                        <span><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</span>
                        <span><i class="lotus-icon-phone"></i>+99871 237-37-75</span>
                    </div>
                    <div class="header_right float-right">

                        <span class="login-register">
                            <a href="http://uzmmsi.uz/login.html">Login</a>
                            <a href="http://uzmmsi.uz/register.html">register</a>
                        </span>
						<div class="dropdown language">
                            <span>O'zbekcha</span>

                            <ul>
                                <li><a href="mb.html#">Русский</a></li>
                                <li><a href="mb.html#">English</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">
                   
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
							<li class="current-menu-item"><a href="index.html">Bosh sahifa</a></li>
							<li>
                                <a href="mb.html#">Institut<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="mb.html#">Tuzilma<span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="rahbariat.html">Rahbariat</a></li>
                                            <li><a href="fakultetlar.html">Fakultetlar</a></li>
                                            <li><a href="kafedralar.html">Kafedralar</a></li>
                                            <li><a href="bolimlar.html">Bo‘limlar</a></li>
                                            <li><a href="markazlar.html">Markazlar</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="institut_haqida.html">Institut haqida</a>
                                    </li>
									<li>
                                        <a href="Davlat_ramzlari.html">Davlat ramzlari</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="mb.html#">Talabalar<span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="Imtihonlar_jadvali.html">Imtihonlar jadvali</a>
                                    </li>
									<li>
                                        <a href="Bakalavriyat.html">Bakalavriyat</a>
                                    </li>
									<li>
                                        <a href="Dars_jadvali_Bakalavr.html">Dars jadvali «Bakalavr»</a>
                                    </li>
									<li>
                                        <a href="Magistratura.html">Magistratura</a>
                                    </li>
									<li>
                                        <a href="DARS_JADVALI_MAGISTRATURA.html">DARS JADVALI «MAGISTRATURA»</a>
                                    </li>
									<li>
                                        <a href="Sirtqi_ta’lim.html">Sirtqi ta’lim</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <!-- <li><a href="#">Talabalar</a></li> -->
                            <li>
                                <a href="mb.html#">Malaka talablari <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="otmreyting.html">OTM REYTING</a></li>
                                    <li><a href="Talablar.html">Talablar</a></li>
									
									<li>
                                        <a href="mb.html#">Moliyaviy faoliyat<span class="fa fa-caret-right"></span></a>
                                        <ul class="sub-menu">
                                            <li><a href="rahbariat.html">Xizmat safarlari</a></li>
                                            
                                            
                                        </ul>
                                    </li>
                                </ul>
								
                            </li>
                            <li>
                                <a href="mb.html#">Ta’lim <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="mb.html#">Video darslar</a></li>
                                    
                                </ul>
                            </li>
							<li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
							<li><a href="http://uzmmsi.uz/kutubxona.uzmmsi.uz" target="_blank">Kutubxona</a></li>
							<li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                        </ul>
						<div class="shortcode-button">
                    </div>
					</nav>
                    <!-- END / HEADER MENU -->

                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->
				
                </div>
				
            </div>
            <!-- END / HEADER LOGO & MENU -->
		
        </header>
        <!-- END / HEADER -->
        
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">MAGISTRATURA BO‘LIMI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="mb.html#" class="post-thumbnail hover-zoom"><img src="images/home-3/deals/mb.png" width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutining “Magistratura bo‘limi” 2020-yil sentabr oyidan o‘z faoliyatini boshlagan. 2020/2021 o‘quv yilidan “Maqom xonandaligi” 5A 150601 mutaxassisligida 11 nafar, “Maqom cholg‘u ijrochiligi” 5A 150701 mutaxassisligida 13 nafar, “Musiqa san’ati” 5A 150202 mutaxassisligida 4 nafar (jami 28 nafar) magistr-talabalar tahsil olmoqda. </b></p> <br>
                                        <p align="justify">Magistratura bosqichida yakka mutaxassislik mashg‘ulotlari bilan bir qatorda zamonaviy kompozitorlik va maqomshunoslikka oid fanlarga ham e’tibor qaratilgan. Mazkur darslar ilmiy salohiyati yuksak darajada bo‘lgan sohamizning faxrli professor ustozlari – san’atshunoslik fanlari nomzodi, professorlar Yunusov R.Yu., Qosimxo‘jaeva S.B., Matyakubova S.K., Abdullaev R.S., Begmatov S.M., Dadadjanova I.A., maqom ijrochiligidan Matrasul Matyoqubov, Salohiddin Azizboev, Shomahmud Shorahmedov, Abdurahmon Xoltojiev va boshqa Respublika musiqa san’atining yetuk darg‘alari tomonidan olib boriladi. Ushbu ustozlar rivojlangan pedagogik texnologiyalardan foydalangan holda multimedia bilan jihozlangan o‘quv xonalarida faoliyat olib bormoqdalar.</p> <br>
                                 </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
		
        <!-- FOOTER -->
        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">

                        <!-- WIDGET MAILCHIMP -->
                        <div class="col-lg-9">
                            <div class="mailchimp">
                                <h4>obuna bo`ling</h4>
                                
                            </div>
                        </div>
                        <!-- END / WIDGET MAILCHIMP -->
                        
                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="https://www.youtube.com/channel/UCZHIX3Aspnrh-D7XV_Aduvw"><i class="fa fa-youtube"></i></a>
                                    <a href="https://www.facebook.com/uzmmsiofficial"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/uzmmsi_official/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->

            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="index.html"><img src="http://uzmmsi.uz/images/logo-footer.png" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i>Toshkent sh. Mustaqillik 31</p>
                                        <p><i class="lotus-icon-phone"></i>+99871 237-37-75</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@uzmmsi.uz">info@uzmmsi.uz</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title"><a href="saytxaritasi.html">Sayt Xaritasi</a></h4>
                                <ul>
                                    <li><a href="index.html">Bosh sahifa</a></li>
                                    <li><a href="rahbariat.html">Rahbariat</a></li>
                                    <li><a href="fakultetlar.html">Fakultetlar</a></li>
                                    <li><a href="kafedralar.html">Kafedralar</a></li>
                                    <li><a href="bolimlar.html">Bo`limlar</a></li>
                                    <li><a href="markazlar.html">Markazlar</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>
                                    <li><a href="mb.html#">Institut tarixi</a></li>
                                    <li><a href="mb.html#">Institut tashkiliy tuzulmasi</a>
                                    <li><a href="mb.html#">Talabalar</a></li>
                                    <li><a href="mb.html#">Malaka talablari</a></li>
									<li><a href="mb.html#">Moliyaviy faoliyat</a></li>
                                    <li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li>
                                </ul>
                            </div>
                        </div>
						<div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;&nbsp;</h4>
                                <ul>
                                    
                                    <li><a href="http://mt.uzmmsi.uz/" target="_blank">masofaviy ta'lim</a></li>
                                    <li><a href="mb.html">Biz haqimizda</a></li>
                                    <li><a href="vacansy.html">Vakansiya</a></li>
                                </ul>
                            </div>
                        </div>
					</div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2022&nbsp;&nbsp;<a href="https://tsoft.uz/" target="_blank"><b>TSOF.UZ</a></a></p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->


    <!-- LOAD JQUERY -->
    <script type="text/javascript" src="js/lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-select.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true"></script>
    <script type="text/javascript" src="js/lib/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/lib/owl.carousel.js"></script>
    <script type="text/javascript" src="js/lib/jquery.appear.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/lib/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/lib/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>