{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>SAYT XARITASI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                <h1 class="element-invisible">Event fullwidth</h1>
                                <!-- POST ITEM -->
                                <article class="post">
									<div class="entry-content">
										<p>Institut</p>
                                        
                                    <li><a href={% url 'management' %}>Rahbariat</a></li><br>
                                    <li><a href={% url 'faculty' %}>Fakultetlar</a></li><br>
                                    <li><a href={% url 'cafedra' %}>Kafedralar</a></li><br>
                                    <li><a href={% url 'departments' %}>Bo`limlar</a></li><br>
                                    <li><a href={% url 'center' %}>Markazlar</a></li><br>

                                        <li><a href={% url 'about' %}>Institut haqida</a></li><br>
                                        <li><a href={% url 'state_symbol' %}>Davlat ramzlari</a></li><br>
										<p>Talabalar</p>
                                        <li><a href={% url 'examschedule' %}>Imtihonlar jadvali</a></li><br>
                                        <li><a href={% url 'bachelor' %}>Bakalavriyat</a></li><br>
                                        <li><a href={% url 'lesson_table_bachelor' %}>Dars jadvali «Bakalavr»</a></li><br>
                                        <li><a href={% url 'masters' %}>Magistratura</a></li><br>
                                        <li><a href={% url 'lesson_table_masters' %}>Dars jadvali «Magistratura»</a></li><br>
                                        <li><a href={% url 'correspondence_education' %}>Sirtqi ta’lim</a></li><br>
										<p>Malaka talablari</p>
                                        <li><a href={% url 'otm_rating' %}>OTM REYTING</a></li><br>
                                        <li><a href={% url 'demand' %}>Talablar</a></li><br>
                                        <p>Moliyaviy faoliyat</p>
                                        <li><a href="{% url 'management' %}">Xizmat safarlari</a></li><br>
										<p>Ta’lim</p>
                                        <li><a href="https://maqomfund.uz/" target="_blank">Maqom fondi</a></li><br>
                                        <li><a href="http://uzmmsi.uz/kutubxona.uzmmsi.uz" target="_blank">Kutubxona</a></li><br>
                                        <li><a href="http://mt.uzmmsi.uz/" target="_blank">Masofaviy ta'lim</a></li></li><br>
                                    </div>
								</article>
                                <!-- END / POST ITEM -->
							</div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
        {% endblock content %}