{% extends 'base.html' %}
{% load static %}
{% block content %}
        
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>Fakultet nomi</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
		
        <section class="section-shortcode">
            <div class="container">
                <div class="shortcode">
        <div class="shortcode-ordered-list">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="shortcode-heading"><b>BO`SH ISH O`RINLAR</b></h3>
								<br>
                                <ul>
                                    <li>Lavozim toifasi</li> <li>Mutaxassis</li>
									<br>
									<br>
                                    <li>Lavozim</li> <li>Yetakchi ilmiy hodim</li>
									<br>
									<br>
                                    <li>Bo'sh ish o'rni</li> <li>1</li>
									<br>
									<br>
                                    <li>E'lon berilgan sanasi</li> <li>13-04-2022</li>
									<br>
									<br>
                                    <li>E'lon tugash sanasi</li> <li>29-04-2022</li>
                                </ul>
                            </div>
                        </div>
						<div class="shortcode-alert">
                        <h3 class="shortcode-heading"><b>Lavozimning faoliyat yoʼnalishi va vazifalari</b></h3>
                        <div class="alert-list">
                            <div class="row">
                                <div class="col-md-12">

                                    <p class="alert alert-success">
                                        Oʼquvchilarning olgan bilimlarini amaliyotda qoʼllash tayyorligini amalga oshiradi;<br>
										oʼquvchilarning oʼzlashtirishini reyting nazoratini amalga oshiradi;<br>
										joriy oraliq va yakuniy testlarni (nazorat soʼrovi)ni amalga oshiradi;<br>
										imtihonlar, oʼquvchilarning yozma ishlari va daftarlarini tekshiradi;<br>
										oʼquvchilar bilan alohida ish olib boradi;
										davlat taʼlim standartlari talablariga mos ravishda oʼzlashtirishni taʼminlaydi;<br>
										didaktik, koʼrgazmali va tarqatma materiallar, metodik koʼrsatmalar tayyorlaydi;<br>
										oʼquvchilarning mustaqil, individual va oʼquv tadqiqot ishlari, bilimini nazorat qilish uchun topshiriqlar ishlab chiqadi;<br>
										oʼquvchilarni fan olimpiadalari, turli tanlovlarga tayyorlaydi;<br>
										oʼquv jarayoniga progressiv axborot va kommunikatsion texnologiyalarni joriy etish boʼyicha dasturlarni ishlab chiqadi;<br>
										darsliklar va oʼquv qoʼllanmalar, uslubiy qoʼllanmalarni yaratadi, ilmiy maqolalar nashr etadi, ilmiy, oʼquv tadqiqot ishlarini tashkil etadi, maʼruzalar tayyorlaydi;<br>
										fan toʼgaraklarini boshqaradi, oʼquv kabinetlari, kafedraga mudirlik qiladi, ustoz-shogird munosabatlarini amalga oshiradi;<br>
										oʼquvchilar bilan tarbiyaviy ishlar olib boradi, ularni shaxs sifatida rivojlanishiga yordam beradi;<br>
										oʼquvchilarning tarbiyaviy masalalari boʼyicha ota-onalar, psixolog va boshqa oʼqituvchilar bilan uchrashuvlar oʼtkazadi;<br>
										oʼquvchilarni muzeylar, koʼrgazmalarga tashrifini, ijodiy kechalarni tashkillashtiradi;<br>
										texnikum Ustavida nazarda tutilgan boshqa vazifalarni bajarish;<br>
										texnikum direktori koʼrsatmasiga asosan hamda qonun hujjatlariga muvofiq boshqa vazifalarni bajaradi.
                                    </p>

                                </div>
								
								<h3 class="shortcode-heading"><b>Lavozim uchun rasmiy talablar</b></h3>
								<div class="col-md-12">

                                    <p class="alert alert-danger">
                                       Fan doktori yoki fan doktori (DSc) ilmiy darajasiga yoki xorijiy davlatlarning unga tenglashtirilgan boshqa ilmiy darajalariga yoki professor ilmiy unvoniga ega bo'lish.
                                    </p>

                                </div>
                               </div>
                        </div>
						</div>
						<div class="shortcode-button">
                        
                        <div class="button-list">
                            
                            <a href={% url 'vacansycard' %} class="awe-btn awe-btn-7"></b>RESUME YUBORING</b></a>
                            
                        </div>
                    </div>
                    </div>
                </div>
            </div>
		</section>			
        {% endblock content %}