{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">“MAQOM CHOLG’U IJROCHILIGI”</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/mchi.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>2002-2012-yillarda kafedrada mutaxassislik fanlari bo`yicha talabalarga saboq berayotgan bir necha pedagoglar Oliy Attestatsiya komissiyasi tomonidan “professor” va “dotsent” ilmiy unvonlarida tasdiqlandilar. Bular: Rifatilla Qosimov, Matrasul Matyoqubovlar, Mahmudjon Tojiboyev, Salohiddin Azizboyev – professor, Iqbol Toshpo`latova, Shomaxmud Shoraxmetov, Zamira Suyunova, Malika Ziyoyeva, Mashrab Ermatov, Komila Bo‘riyeva, Ravshan Abduazimov, Xurshid Oripovlar – dotsent ilmiy unvonlariga ega bo`ldilar</b></p> <br>
                                        <p align="justify">Kafedra professor-o`qituvchilari Oliy va o`rta maxsus ta’lim muassasalari uchun mutaxassislik fanlari bo`yicha bir qator darslik, o`quv qo`llanmalar yaratib, ilmiy-metodik maqolalar yozib nashr ettirdilar va amaliyotga tadbiq etdilar:</p> <br>
										<p align="justify">Kafedra qoshida xalq musiqasi kabineti faoliyat yurita boshlagani ta’lim samaradorligiga o‘z ta’sirini o‘tkazmay qolmadi. Bu yerda mashg‘ulotlarni o‘tash uchun san’atshunoslik fanlari doktori, professor I.Rajabov (“Manbashunoslik” va “Maqom asoslari”), professor A.Jabborov (“O‘zbek musiqa tarixi”), kompozitor Sh.Shaymardanova (“Notalashtirish”), ustoz-san’atkor F.Sodiqov (“Dutor va chang ansambli ijrochiligi” ixtisosligi), R.Rajabiy, T.Inog‘omov, M.Muhamedov, S.Taxalov (“Tanbur, nay, qashqar rubobi” ixtisosligi), O.Alimaxsumov (“An’anaviy ijro” ixtisosligi), Z.Oripov, Z.Nasullaev, K.Avasenov (“Sharq tillaridan – fors, arab, urdu”), yosh o‘qituvchilar – O.Matyoqubov va R.Abdullaev (“O‘zbek an’anaviy musiqasi asoslari”, “Notalashtirish” va “Folklor amaliyoti”) kabi mutaxassislar taklif etildi.</p> <br>
										<p align="justify">Yosh musiqashunos talabalar orasida nafaqat yurtimizda, balki Qozog‘iston va Tojikiston Respublikalaridan kelib, o‘qishni tamomlab, ilmiy-ijodiy faoliyatlarini davom ettirgan holda kelajakda mashhur xonandalar va yetuk san’atkor darajasiga erishishdi. Ular orasida kafedraning ilk bitiruvchilaridan san’at - shunoslik fanlari doktorlari, professorlar – A.Nizomov va F.Aziziy (Tojikiston), san’atshunoslik fanlari doktori, professor A.Nazarov, san’atshunoslik fanlari nomzod -lari, A.Jumaev, O.Malkeevalardir.</p> <br>
                                </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
	
{% endblock content %}