{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">“O‘ZBEK ADABIYOTI, TILLAR VA GUMANITAR FANLAR” KAFEDRASI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/uzatgf.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>“O‘zbek adabiyoti, tillar va gumanitar fanlar” kafedrasi Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati instituti Kengashining 2020-yil 18-sentabrda qabul qilgan 1-sonli qaroriga muvofiq tashkil etilgan.</b></p> <br>
                                        <p align="justify">Kafedra professor-o‘qituvchilari tegishli fanlardan dars berish bilan bir qatorda turli mavzularda ilmiy-tadqiqot ishlar ham olib borishmoqda. Bugungi kunda kafedrada turli ilmiy yo‘nalishlarda faoliyat yuritayotgan professor-o‘qituvchilar jamoasi to‘plangan. O‘quv jarayonini takomillashtirish uchun kafedraning professor-o‘qituvchilari darslarda zamonaviy o‘qitish usullaridan, multimediya vositalaridan va axborot-kommunikatsiya texnologiyalaridan foydalanadilar. </p> <br>
										<p align="justify">Bugungi kunda kafedrada 3 nafar fan nomzodi, 2 nafar PhD, 1 nafar dotsent, 5 nafar katta o‘qituvchi, 4 nafar o‘qituvchi faoliyat olib bormoqda</p> <br>
                                </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
	
        {% endblock content %}