{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">“O’ZBEK MILLIY MUSIQA SAN’ATI” FAKULTETI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="uzmms.html#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/mmsf1.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>Fakultet</b> – milliy maqom san’atini rivojlantirish, maqom xonandaligi, maqom cholg‘u ijrochiligi va doston ijrochiligiga yo‘naltirilgan yuqori malakali mutaxassislar tayyorlashni, ilmiy tadqiqot ishlari, shuningdek, ilmiy va ilmiy pedagogik kadrlar tayyorlash, malaka oshirish va qayta tayyorlash hamda tashkiliy, ma’naviy-ma’rifiy va tarbiyaviy ishlarni amalga oshirishni o‘z oldiga maqsad qilib qo‘ygan.</p> <br>
                                        <p align="justify">Bugungi kunda fakultet tarkibidagi 6 ta kafedrada 9 ta professor, 17 ta fan nomzodi va dotsent, 19 ta katta o‘qituvchi va assistentlardan iborat bo‘lgan tajribali professor o‘qituvchilar jamoasi faoliyat ko‘rsatmoqda. Fakultetda 399 nafar bakalavr, shunda 1-kursda 134 nafar, 2-kursda 121 nafar, 3-kursda 79 nafar, 4-kursda 65 nafar talaba, 1- va 2-bosqichda 28 nafar magistr tahsil oladi</p> <br>
                                </article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
        {% endblock content %}