{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- SUB BANNER -->
        <section class="section-sub-banner bg-9">
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2 align="center">“VOKAL VA CHOLG‘U IJROCHILIGI PEDAGOGLARI TAYYORLASH” KAFEDRASI</h2>
                        
                    </div>
                </div>
            </div>
        </section>
        <!-- END / SUB BANNER -->
        
        <!-- BLOG -->
        <section class="section-blog bg-white">
            <div class="container">
                <div class="blog">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blog-content events-content">
                                
                                <!-- POST ITEM -->
                                <article class="post">
									
                                    <div class="entry-media">
                                        <a href="vchipt.html#" class="post-thumbnail hover-zoom"><img src={% static "images/home-3/deals/vchipt.png" %} width="200" height="200" alt=""></a>
									</div>
										
										<br>
										<br>
                                        <p align="justify"><b>“Vokal va cholg‘u ijrochiligi pedagoglari tayyorlash” kafedrasi 2018-yil O‘zbekiston davlat konservatoriyasi qoshida “Kasbiy ta’lim” yo‘nalishi ochilishi munosabati bilan tashkil etilgan. Mazkur kafedrada bir qator professor-o‘qituvchilar yoshlarga ta’lim-tarbiya berib kelgan</b></p> <br>
                                        <p align="justify">Yunus Rajabiy nomidagi O‘zbek milliy musiqa san’ati institutida 2020 yil 3-sentabrdan “Vokal va cholg‘u ijrochiligi pedagoglari tayyorlash” kafedrasi tashkil topgan bo‘lib, o‘z faoliyatini 5111100 – kasb ta’limi, 5150700 – Cholg‘u ijrochiligi (turlari bo‘yicha) va 5150600 –vokal san’ati (turlari bo‘yicha) ta’lim yo‘nalishlari negizida ish boshladi.</p> <br>
                                        <p align="justify">Kafedrada 11 nafar asosiy shtat birligi asosida, o‘rindoshlik sifatida 9 nafar professor-o‘qituvchilar faoliyat olib bormoqda.</p> <br>
                                        <p align="justify">Kafedrada tajribali ustozlarimizdan O‘zbekiston xalq xofizi Mashrab Ermatov, moxir sodzanda Qudratilla Samadov, xonanda Abduqaxxor Jalilov, dotsent Nabijon Qodirov, dotsent Abdufattox Abdugapparov, “Shuhrat” medali sohibi Bobur Kenjaev, sozanda Ma’rufjon Xalilovlar talaba-yoshlarga o‘zbek milliy mumtoz musiqa san’ati sirlarini o‘rgatib kelmoqda.</p> <br>
								</article>
                                <!-- END / POST ITEM -->

                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </section>
        <!-- END / BLOG -->
		
        {% endblock content %}